@import url('https://fonts.googleapis.com/css?family=Raleway:400,700');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Raleway, sans-serif;
}


li {
    float: left;
}

ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
    overflow: hidden;
    background-color:  #7E7BB9;
}


html {
    font-size: 62.5%;
}

body {
    font-family: 'Roboto', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 1.6rem;
    line-height: 1.6;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: darkgrey;
}

.container {
    max-width: 800px;
    margin: 40px auto;
    padding: 0 5%;
}

h1 {
    text-align: center;
    font-size: 3rem;
    color: black;
    text-transform: uppercase;
    line-height: 1.375;
    margin: 0 0 2.4rem 0;
    letter-spacing: 1px
}

table {
    margin-left: auto;
    margin-right: auto;
    width: 90%;
    min-width: 300px;
    margin-bottom: 2.4rem;
    background-color: #20262e;
    color: #fff;
    overflow: hidden;
}

table tr:nth-child(even) {
    background-color: rgb(46, 53, 62);
}

table td:before {
    color: #28b1de;
}

table td {
    display: block;
    font-size: 90%;
}

table td:first-child {
    padding-top: 1rem;
}

table td:last-child {
    padding-bottom: 1rem;
}

table td:before {
    content: attr(data-th) ':\00a0';
    font-weight: bold;
    min-width: 8rem;
    display: inline-block;
}

.table-2 table td:before {
    min-width: 0;
}

.table-3 table {
    background-color: rgb(46, 53, 62);
}

.table-3 table tr:nth-child(even) {
    background-color: transparent;
}

.table-3 table td:before {
    width: 100%;
    font-weight: normal;
    opacity: .8;
}

.table-3 table td {
    margin: 0;
    padding: 1.5rem 2rem 0 2rem;
    font-weight: bold
}

.table-3 table tr td:first-child {
    background-color: #20262e;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
}

.table-3 table tr td:last-child {
    padding-bottom: 1.5rem;
    border-bottom: 4px solid rgba(255, 255, 255, .3)
}

.table-3 table tr:last-child td:last-child {
    border-bottom: none;
}

@media (min-width: 600px) {
    table td:before {
        display: none;
    }
    table td {
        display: table-cell;
        text-align: center;
    }
    table td:first-child,
    table td:last-child {
        padding: 1.5rem 2rem;
    }
    .table-3 table {
        background-color: #20262e;
    }
    .table-3 table tr:nth-child(even) {
        background-color: rgb(46, 53, 62);
    }
    .table-3 table td {
        margin: .5rem 2rem;
        padding: 1.5rem 2rem;
        font-weight: normal
    }
    .table-3 table tr td:first-child {
        background-color: transparent;
    }
    .table-3 table tr td:last-child {
        border-bottom: none;
    }
}

.topnav {
    background-color: #333;
    overflow: hidden;
}

/* Style the links inside the navigation bar */
.topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

/* Change the color of links on hover */
.topnav a:hover {
    background-color: #ddd;
    color: black;
}

/* Add a color to the active/current link */
.topnav a.active {
    background-color: grey;
    color: white;
}

/* Style the links inside the navigation bar */
a.logout {
    float: right;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

/* Change the color of links on hover */
a.logout:hover {
    background-color: #ddd;
    color: black;
}

a.name {
    color: whitesmoke;
    float: right;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

a.name:hover {
    background-color: transparent;
    color: whitesmoke;
}


.returnOrder select,
.returnOrder input[type=date],
.returnOrder input[type=select],
.returnOrder input[type=text] {
    width: 95%;
    padding: 12px 20px;
    margin: 8px 0;
    display: block;
    border: 1px solid black;
    border-radius: 4px;
    box-sizing: border-box;
    resize: none;
    text-align: left;
}

.returnOrder input[type=date]:focus,
.returnOrder input[type=text]:focus {
    border: 1px solid #a8a8a8;
}


.returnOrder input[type=submit]{
    float: right;
    margin: auto;
}

.returnOrder {
    border-radius: 5px;
    background-color: #f8f8f8;
    padding: 40px;
    width: 60%;
    margin: 20px auto 0;
    box-shadow: 1px 1px 5px #888888;
}

.data_table {
    margin-top: 3%;
}

select {
    width: 95%;
    padding: 12px 20px;
    margin: auto 0;
    display: block;
    border-radius: 4px;
    text-align: left;
    font-size: 16px;
}

.returnTitle {
    text-align: center;
}
